.card28{
    grid-column: 2/4 !important;
    grid-row: 1/3 !important;
}
.card29{
    grid-column: 1/3 !important;
    grid-row: 4/6 !important;
}
.card30{
    grid-column: 2/4 !important;
    grid-row: 7/9 !important;
}
.card31{
    grid-column: 1/3 !important;
    grid-row: 10/12 !important;
}
.card32{
    grid-column: 2/4 !important;
    grid-row: 13/15 !important;
}