.main{
    width: 70px !important;
    height: 111px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    cursor: pointer;
}
.main .imgBox{
    width: 70px;
    height: 70px;
    border: 1px solid #d60f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background:linear-gradient(43deg, blue, red, green);
}
.main .img{
    width: 62px;
    height: 62px;
    margin: auto;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px double rgb(187, 185, 185);
}
.main h1{
    color: #fff;
    height: 20px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
}